name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Install Rust Toolchain
      run: |
        rustup target add thumbv8m.main-none-eabihf # For Pico 2
        rustup target add thumbv6m-none-eabi        # For Pico
    - uses: actions/checkout@v4
    - name: Build Pico2
      run: cargo build-pico2
    - name: Build Pico
      run: cargo build-pico
