name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: |
        rustup target add thumbv8m.main-none-eabihf # For Pico 2
        rustup target add thumbv6m-none-eabi        # For Pico
        cargo build-pico --verbose
        cargo build-pico2 --verbose
